<div class="jumbotron text-center">
    <h1>Welcome to DevNation</h1>
    <h3>Amembership based site where Companies meet developers.</h3>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership</h2> 
            <h4>This free membership will allow you get access to what th ecomunity is sharing. You will be able to view  programmers and investors status.</h4>
            <%= link_to "Sign up Basic", new_user_registration_path, class: "btn btn-primary btn-lg btn-block" %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
             <h2 class="text-center">Pro Membership</h2>
             <h4>With this $2 per month pro membership, you can go beyond viewing programmers and investors; We will provide you an access to getting their contact information. </h4>
             <%= link_to "Sign up Pro", new_user_registration_path, class: "btn btn-success btn-lg btn-block" %>
        </div>
    </div>
</div>